<div class="container">
  <div class="row">
    <div class="col-md-2">
      Comparador listado de moviles
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="phone in $ctrl.phones" ng-click="$ctrl.seleccionar(phone)">
            <img ng-src="{{phone.imageUrl}}" class="foto-chiqui">
          {{phone.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <!--Body content-->
      <phone-comparador-telefono telefono1="$ctrl.phone1" telefono2="$ctrl.phone2"></phone-comparador-telefono>
      
     

    </div>

    <div class="col-md-5">
      <!--Body content-->
      <phone-comparador-telefono telefono1="$ctrl.phone2" telefono2="$ctrl.phone1"></phone-comparador-telefono>

    </div>

  </div>
</div>
