<div class="container">
  <div class="row">
    <div class="col-md-2">
      Comparador listado de moviles
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="phone in $ctrl.phones" ng-click="$ctrl.seleccionar(phone)">
            <img ng-src="{{phone.imageUrl}}" class="foto-chiqui">
          {{phone.name}}
        </li>
      </ul>
    </div>
    <div class="col-md-5">
      <!--Body content-->
      <div class="row">
          <h3>{{$ctrl.phone1.name}}</h3>
      </div>
      <div class="row">
          <h3><img ng-src="{{$ctrl.phone1.imageUrl}}" class="foto-mediana"></h3>
      </div>
      <div class="row">
          <div class="col-md-2">Flash</div>
          <div class="col-md-2">{{$ctrl.phone1.storage.flash}}</div>
          <div class="col-md-1" ng-show="$ctrl.mostrarDiferencia">D.FLASH</div>
      </div>
      <div class="row">
          <div class="col-md-2">RAM</div>
          <div class="col-md-2">{{$ctrl.phone1.storage.ram}}</div>
          <div class="col-md-1" ng-show="$ctrl.mostrarDiferencia">D.RAM</div>
      </div>
     

    </div>

    <div class="col-md-5">
      <!--Body content-->
      <div class="row">
          <h3>{{$ctrl.phone2.name}}</h3>
      </div>
      <div class="row">
          <h3><img ng-src="{{$ctrl.phone2.imageUrl}}" class="foto-mediana"></h3>
      </div>
      <div class="row">
          <div class="col-md-2">Flash</div>
          <div class="col-md-2">{{$ctrl.phone2.storage.flash}}</div>
          <div class="col-md-1 alert" ng-class="($ctrl.comparacion($ctrl.phone2, $ctrl.phone1)>0)?'alert-success':'alert-danger'" ng-show="$ctrl.mostrarDiferencia">{{$ctrl.comparacion($ctrl.phone2, $ctrl.phone1)}}</div>
      </div>
      <div class="row">
          <div class="col-md-2">RAM</div>
          <div class="col-md-2">{{$ctrl.phone2.storage.ram}}</div>
          <div class="col-md-1" ng-show="$ctrl.mostrarDiferencia">D.RAM</div>
      </div>

    </div>

  </div>
</div>
