<div data-ng-controller="AppCtrl">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68939/angular-logo.png" />
    <h1>Angular Range Filter</h1>
    <p>Nothing fancy :-)</p>
    <hr>
    <label>Min:{{ ui.min | currency }}
        <input type="range" 
                min="0" 
                max="1000"
                numeric
                data-ng-model="ui.min" >
    </label>    
    <hr>
    <label>Max: {{ ui.max |  currency }}
        <input type="range" 
                min="0" 
                max="1000"
                numeric
                data-ng-model="ui.max">    
    </label>
    <div data-ng-if="ui.min>ui.max">
        <p>Min > Max makes little sense – sorry this is not about great UI/UX/BuzzBuzz ;-)</p>
    </div>
        
    <hr>
    <table>
        <caption>Products within price range</caption>
        <thead>
            <tr>
                <th scope="col" 
                    data-ng-class="{'acc':(ui.sort=='name'), 'dec':(ui.sort=='-name')}"         
                    data-ng-click="ui.sort = ui.sort=='name'?'-name':'name'">Name</th>
                <th scope="col" 
                    data-ng-class="{'acc':(ui.sort=='ram'), 'dec':(ui.sort=='-ram')}"
                    data-ng-click="ui.sort = ui.sort=='ram'?'-ram':'ram'">Ram</th>
            </tr>
        </thead>
        <tr data-ng-repeat="product in model.products | rangeFilter:'ram':ui.min:ui.max | orderBy:ui.sort ">
            <td>{{ product.name }}</td>
            <td>{{ product.storage.ram }}</td>           
        </tr>
    </table>
    <!--
    <pre>model.products = {{ model.products | json}}</pre>
    -->
    
    
    
</div>
    