<div data-ng-controller="AppCtrl">

    <label>Min:{{ ui.min }} MB
        <input type="range" 
                min="0" 
                max="32000"
                numeric
                data-ng-model="ui.min" >
    </label>    

    <label>Max: {{ ui.max }} MB
        <input type="range" 
                min="0" 
                max="32000"
                numeric
                data-ng-model="ui.max">    
    </label>

    <label>
        Ordenar por: 
        <span class="badge"
            data-ng-class="{'acc':(ui.sort=='name'), 'dec':(ui.sort=='-name')}"         
            data-ng-click="ui.sort = ui.sort=='name'?'-name':'name'">Nombre</span>
        <span class="badge"
            data-ng-class="{'acc':(ui.sort=='storage.flash'), 'dec':(ui.sort=='-storage.flash')}"
            data-ng-click="ui.sort = ui.sort=='storage.flash'?'-storage.flash':'storage.flash'">Flash</span>
    </label>

    <div data-ng-if="ui.min>ui.max">
        <p>Min > Max makes little sense – sorry this is not about great UI/UX/BuzzBuzz ;-)</p>
    </div>
     
    <div>
      Nombre: <input type="text" placeholder="Filtrar por nombre" ng-model="nombre">
    </div>
    <hr>
 
<br>

    
    
    <div class="container">

      
        <div class="row">
      
          <!-- 1º columan -->
          <div class="col-md-2">      
              <ul class="list-group">
                <li class="list-group-item" 
                data-ng-repeat="phone in model.products | filter:nombre | rangeFilterByFlash:'storage':ui.min:ui.max | orderBy:ui.sort "
                    ng-click="$ctrl.selecionar(phone)">
                  <img ng-src="{{phone.imageUrl}}" class="responsive"/>
                  {{phone.name}} 
                  <br>
                  Flash: <span class="label label-warning">{{phone.storage.flash}}</span> MB
                </li>          
              </ul>
          </div>
      
          <!-- 2º columan -->
          <div class="col-md-5">
              <phone-comparador-detalle mostrar="$ctrl.phone1" comparar="$ctrl.phone2"></phone-comparador-detalle>   
          </div>
      
          <!-- 3º columan -->
          <div class="col-md-5">    
            <phone-comparador-detalle mostrar="$ctrl.phone2" comparar="$ctrl.phone1"></phone-comparador-detalle>            
          </div>
        <!-- /.row -->
      
      
      </div>


    
</div>
    

