<div data-ng-controller="AppCtrl">
    <p>Comparador</p>
    <hr>
    <label>Min:{{ ui.min }} MB
        <input type="range" 
                min="0" 
                max="32000"
                numeric
                data-ng-model="ui.min" >
    </label>    
    <hr>
    <label>Max: {{ ui.max }} MB
        <input type="range" 
                min="0" 
                max="32000"
                numeric
                data-ng-model="ui.max">    
    </label>
    <div data-ng-if="ui.min>ui.max">
        <p>Min > Max makes little sense – sorry this is not about great UI/UX/BuzzBuzz ;-)</p>
    </div>
        
    <hr>
    <div>
    <table>
        <caption>Telefono</caption>
        <thead>
            <tr>
                <th scope="col" 
                    data-ng-class="{'acc':(ui.sort=='name'), 'dec':(ui.sort=='-name')}"         
                    data-ng-click="ui.sort = ui.sort=='name'?'-name':'name'">Name</th>
                <th scope="col" 
                    data-ng-class="{'acc':(ui.sort=='storage.flash'), 'dec':(ui.sort=='-storage.flash')}"
                    data-ng-click="ui.sort = ui.sort=='storage.flash'?'-storage.flash':'storage.flash'">Flash</th>
            </tr>
        </thead>
        
    </table>
</div>
<br><br>


    
    
    <div class="container">

      
        <div class="row">
      
          <!-- 1º columan -->
          <div class="col-md-2">      
              <ul class="list-group">
                <li class="list-group-item" 
                data-ng-repeat="phone in model.products | rangeFilterByFlash:'storage':ui.min:ui.max | orderBy:ui.sort "
                    ng-click="$ctrl.selecionar(phone)">
                  <img ng-src="{{phone.imageUrl}}" class="responsive"/>
                  {{phone.name}} - {{phone.storage.flash}}
                </li>          
              </ul>
          </div>
      
          <!-- 2º columan -->
          <div class="col-md-5">
              <phone-comparador-detalle mostrar="$ctrl.phone1" comparar="$ctrl.phone2"></phone-comparador-detalle>   
          </div>
      
          <!-- 3º columan -->
          <div class="col-md-5">    
            <phone-comparador-detalle mostrar="$ctrl.phone2" comparar="$ctrl.phone1"></phone-comparador-detalle>            
          </div>
        <!-- /.row -->
      
      
      </div>


    
</div>
    

